.game-page{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-chat{
    position: absolute;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: rgba(0, 0, 0, 0.385);
    transition: 0.5s;
    overflow: hidden;
    display: block;
}
.chat-content{
    height: calc(100% - 150px);
    background: #00000082;
}
.predf-msm{
    height:100px;
    background: #d65b5b82;
}
.send-msm-content{
    height: 50px;
    background: #54343482;
}
.game-chat.active{
    width: 300px;
}

.game-content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.5s;
    right: 0;
    max-height: 100%;
}
.game-page:has(.game-chat.active) .game-content{
    width: calc(100% - 300px);
}
.users1-2,
.users3-4{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.users{
    display: flex;
    justify-content:center;
    align-items: center;
}
.profile-user{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow:0 8px 18px 0 #00000082;
    border-radius: 80px;
    overflow: hidden;
}
.profile-user img{
    width: 60px;
    height: 60px;
    border-radius: 80px;
}
.user-details span{
    display: block;
    font-size: 1.2em;
}
.user-notification{
    position: absolute;
    display: none;
}
.status-game{}

.game-timer span{
    text-align: center;
    font-size: 1.5em;
    display: block;
}
.option-game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.308);
    padding: 5px;
    border-radius: 5px;
}
.option-game span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    overflow: hidden;
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.option-game span:nth-child(3)::after{
    position: absolute;
    content: '';
    height:40px;
    width: 4px;
    left: 15px;
    top: -5px;
    background-color: black;
    border-radius: 5px;
    transform: rotate(135deg);
}
.option-game span img{
    height: 34px;
    width: 34px;
}






.main-game-content{
    height: calc(100% - 160px);
    background-color: rgba(0, 0, 0, 0.385);
}