.game-page{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.game-chat{
    position: absolute;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: rgba(0, 0, 0, 0.385);
    transition: 0.5s;
    overflow: hidden;
    display: block;
}
.chat-content{
    height: calc(100% - 150px);
    background: #00000082;
}
.predf-msm{
    height:100px;
    background: #d65b5b82;
}
.send-msm-content{
    height: 50px;
    background: #54343482;
}
.game-chat.active{
    width: 300px;
}

.game-content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.5s;
    right: 0;
    max-height: 100%;
}
.game-page:has(.game-chat.active) .game-content{
    width: calc(100% - 300px);
}
.users1-2,
.users3-4{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.users{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
}
.profile-user{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow:0 8px 18px 0 #00000082;
    border-radius: 80px;
    overflow: hidden;
}
.profile-user img{
    width: 65px;
    height: 65px;
    border-radius: 80px;
    margin-bottom: 3px;
}
.user-details span{
    display: block;
    font-size: 1.2em;
}
.user-notification{
    position: absolute;
    bottom: 0;
    display: none;
}
.users1-2 .users:nth-child(3) .user-notification,
.users3-4 .users:nth-child(3) .user-notification{
    right: 45px;
}
.users1-2 .users:nth-child(1) .user-notification,
.users3-4 .users:nth-child(1) .user-notification{
    left: 45px;
}
.userGame0{
    border: 2px solid blue;
    box-shadow: 0px 0px 20px 0 #0011ff73;
}
.userGame1{
    border: 2px solid green;
    box-shadow: 0px 0px 20px 0 #04ff0073;
}
.userGame2{
    border: 2px solid red;
    box-shadow: 0px 0px 20px 0 #ff000073;
}
.userGame3{
    border: 2px solid yellow;
    box-shadow: 0px 0px 20px 0 #fff70073;
}

.user-notification.ready{
    display: block;
}
/*.users3-4:has(.users3-4 .users:nth-child(3) .user-notification) .users:nth-child(3){
    display: flex;
}*/
/* .users3-4:has(.users3-4 .users:nth-child(3) .user-notification) .option-game{
    margin-left: 15px;
} */
.users3-4:not(:has(.users:nth-child(3) .profile-user)) .users:nth-child(3){
    display: none;
}
.users3-4:not(:has(.users:nth-child(1) .profile-user)) .users:nth-child(3){
    display: flex !important;
}
.users3-4:not(:has(.users:nth-child(3) .profile-user)) .option-game{
    margin-right: 15px;
}
.users3-4:not(:has(.users:nth-child(1) .profile-user)) .option-game{
    margin-right: 0px !important;
}
.status-game{
    display: block;
    position: absolute;
    right: -50%;
    left: -50%;
    margin: auto;
}

.game-timer span{
    text-align: center;
    font-size: 1.5em;
    display: block;
}
.option-game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.308);
    padding: 5px;
    border-radius: 5px;
}
.option-game span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    overflow: hidden;
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.option-game span:nth-child(3)::after{
    position: absolute;
    content: '';
    height:40px;
    width: 4px;
    left: 15px;
    top: -5px;
    background-color: black;
    border-radius: 5px;
    transform: rotate(135deg);
}
.option-game span img{
    height: 34px;
    width: 34px;
}






.main-game-content{
    position: relative;
    height: calc(100% - 160px);
    /*background-color: rgba(0, 0, 0, 0.385);*/
}
.msm-game{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: #0000001c;
    z-index: 1;
    backdrop-filter: blur(18px);

}
.msm-game:has(.usersReady.show),
.msm-game:has(.waitingUsers.show){
    display: flex;
}
.main-game-content:has(.usersReady.show) #canvas,
.main-game-content:has(.waitingUsers.show) #canvas{
    display: none;
}
.usersReady,
.waitingUsers{
    font-size: 1.2em;
    display: none;
}
.usersReady.show,
.waitingUsers.show{
    display: block;
}
.usersReady-title{
    display: block;
    font-size: 1.5em;
    margin-bottom: 50px;
}
#btn-user-ready{
    margin: 10px;
    background: #00ff1f75;
    padding: 15px;
    border-radius: 100px;
    cursor: pointer;
}
#btn-user-quiet{
    margin: 10px;
    background: #ff000c75;
    padding: 15px;
    border-radius: 100px;
    cursor: pointer;
}

canvas{
    position: absolute;
    left: 2.5%;
    width: 95%;
    height: 95%;
    top: 2.5%;
    /* background: #1d1e23;
    border: 1px solid #232332; */
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #0000003d;
}
.joystick{
    display: none;
}