/*.login.closePage{
    display: none !important;

}*/
.login-content{
    width: 400px;   
    font-size: 1.5em; 
}
.login-banner{
    display: block;
}
.login-content input{
     display: block;
     padding: 15px;
     border: none;
}

.login-message{
    margin-bottom: 80px !important;
    margin-top: 40px !important;
    display: block;
    font-size: 0.9em;
}


.login-footer{
    position: absolute;
    bottom: 0;
}
